.App {
  text-align: center;
}

button {
  color: white;
  font: inherit;
  border: 2px rgb(88, 62, 160);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.teal {
background: #04857e;
}
button.teal:hover {
background: #4e928f;
}

.purple {
background: #610761;
}
button.purple:hover {
background: #854a85;
}